/*CSS STYLING RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*General Styling*/

/* .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: rem;
} */

body{
    font-size: 62.5%;
    font-family: 'Piazzolla', serif;
    background: url("https://i.ibb.co/g6c7bzp/karsten-winegeart-p-J6-HTjx-LV0-unsplash-cropped.jpg");
    background-repeat: no-repeat;
    background-position: center fixed;
    background-size: cover;
}
header{
    /* border: 4px solid red; */
    background: #D5B120;
    opacity: 0.5;
    height: 6rem;
}

nav {
    display: flex;
    padding: 0.5rem;
}

.topnav {
    /* border: 4px solid white; */
    margin-left: auto;
}

nav .fa{
    /* padding-right: 0.25rem; */
    color: #E24A13;
    padding-top: 0.85rem;
}

.title{
    /* border: 2px solid white; */
    color: #A62C2B;
    padding-right: 10rem;
    padding-left: 0.25rem;
    padding-top: 2rem;
    font-size: 400%;
    font-weight: bold;
}
input{
    border: 2px solid #E24A13;
    height: 1.5rem;
    margin-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 10rem;
    margin-left: 5rem;
}

a{
    /* border: 2px solid white; */
    color: #32527b;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}
nav a:hover{
    color: silver;
    background: #32527b;
    border-radius: 2px;
}
.subtitle{
    color: #E24A13;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    text-shadow: #A62C2B 1.5px 1px;
}
.teamgallery{
    /* border: 10px solid white; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6.5rem;
    justify-content: center;
}
figure{
   justify-items: center;
   padding: 1rem;
   height: auto;
   width: 25%;
}
figcaption{
    color: #E24A13;
    background-color: silver;
    opacity: 0.9;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    width: 64%;
}
footer{
    background: #D5B120;
    opacity: 0.7;
    display: flex;
    /* padding: 1rem; */
    height: 6rem;
}
.bottomnav{
    margin-left: auto;
    padding-top: 0.5rem;
}
.socialmedia{
    display: flex;
    padding-left: 15rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    width: 40%;
    text-decoration: none;
}
.socialmedia .fa{
    padding: 0.2rem;
/*     font-size: 1rem; */
    width: 16.6%;
    text-align: center;
    text-decoration: none;
    -webkit-text-fill-color: #32527b;
}    

.copyright{
    color: #A62C2B;
    font-weight: bold;
    padding-top: 0.5rem;
    font-size: 0.55rem;
}

/*RESPONSIVE DESIGN - media quieries at 800px*/
@media (max-width: 800px){
    header{
        background: silver;
        opacity: 0.5;
    }
    .title{
        font-size: 200%;
        padding-top: 1.75rem;
    }
    nav .fa{
        font-size: 1.5rem;
        padding-top: 0.75rem;
    }
    .teamgallery{
        display: flex;
        /* grid-template-columns: repeat(3, 33.3%);
        gap: 0.5rem;
        padding-right: 5rem; */
    }
    figure{
        width: 45%;
    }
    figcaption{
        width: 200px;
    }
}
/*Media quieries at 500px*/
@media(max-width: 500px){
    header{
        background-color: #A62C2B;
        opacity: 0.5;
    }
    .title{
        color: #D5B120;
        padding-right: 2.5rem;
    }
    nav .fa{
        color: #32527b;
    }
    input{
        border: 4px solid #32527b;
    }
    a{
        color: #D5B120;
        font-size: 0.6rem;
    }
    a:hover{
        color: #E24A13;
        font-weight: bold;
        background-color: #32527b;
        border: 2px solid #E24A13;
        border-radius: 2px;
    }
    footer{
        background-color: #A62C2B;
        opacity: 0.7;
    }
    .socialmedia{
        padding-left: 1rem;
    }
    .socialmedia .fa{
        -webkit-text-fill-color: #D5B120;
    }
    .copyright{
        color: #D5B120;
        font-size: 0.5rem;
    }
}
